:root {
  --primary-cyan: hsl(172, 67%, 45%);
  --secondary-cyan-1: hsl(183, 100%, 15%);
  --secondary-cyan-2: hsl(186, 14%, 43%);
  --secondary-cyan-3: hsl(184, 14%, 56%);
  --secondary-cyan-4: hsl(185, 41%, 84%);
  --secondary-cyan-5: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

html {
  overflow-x: hidden;
  background-color: var(--secondary-cyan-4);
}

body {
  box-sizing: border-box;
  font-family: "Space Mono";
  margin: 0;
  display: block;
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;

  width: 100vw;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.splitter {
  height: 20vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: flex;
}

.splitter h1 {
  text-transform: uppercase;
  margin: 0;
  width: 100px;
  letter-spacing: 5px;
  word-break: break-all;
  color: var(--secondary-cyan-1);
}

.calculator {
  background-color: var(--white);
  display: flex;
  flex-direction: row;

  max-width: 800px;
  height: 400px;
  margin: 0 auto;
  padding: 2em;

  border-radius: 30px;
}

.settings {
  width: 50%;
  flex-direction: column;
  /* padding: 2em; */
  padding-right: 2em;
  display: flex;
}

.bill {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.settings label {
  text-align: left;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--secondary-cyan-2);
}

input {
  border-radius: 5px;
  border: none;
  padding: 7px 15px;
  height: 30px;
  text-align: right;
  font-family: "Space Mono";
  font-size: 20px;
  color: var(--secondary-cyan-3);
}

input::placeholder {
  color: var(--secondary-cyan-3);
}

.input-field--dollar {
  background: url(./images/icon-dollar.svg) var(--secondary-cyan-5) no-repeat
    scroll 14px 14px;
}

.input-field--person {
  background: url(./images/icon-person.svg) var(--secondary-cyan-5) no-repeat
    scroll 14px 14px;
}

.tip-selector {
  flex: 2;
  display: flex;
  margin-top: 1.5em;
  flex-direction: column;
}

.tip-amount-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px 0 0;
}

.button {
  background-color: var(--secondary-cyan-1);
  border: 0;
  box-shadow: unset;
  padding: 7px;
  margin: 0 10px 10px 0;
  border-radius: 5px;
  font-family: "Space Mono";
  font-weight: 700;
  color: var(--secondary-cyan-4);
  width: 30%;
  font-size: 20px;
}

.button--light {
  background-color: var(--secondary-cyan-5);
  color: var(--secondary-cyan-2);
}

.people-count {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.results {
  background-color: var(--secondary-cyan-1);
  border-radius: 20px;
  width: 50%;
  flex-direction: column;
  display: flex;
}

.result-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
}

.results-row-label {
  margin: 0;
}

.label--light {
  text-align: left;
}

.main-label {
  color: var(--white);
}

.sub-label {
  color: var(--secondary-cyan-3);
}

.result-value {
  color: var(--primary-cyan);
  font-size: 42px;
  font-weight: 700;
  margin: 0;
}

.button-container {
  flex: 1;
  display: flex;
  margin: 2em;
  flex-direction: column;
  justify-content: end;
}

.reset-button {
  background-color: var(--secondary-cyan-3);
  width: auto;
  margin: 0;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .calculator {
    flex-direction: column;
    height: auto;
  }

  .settings {
    width: auto;
    padding-right: 0em;
    margin-bottom: 2em;
  }

  .tip-amount-buttons {
    margin: 0 -15px 0 0;
  }

  .button {
    width: 46%;
    margin: 0 15px 15px 0;
    font-size: 24px;
  }

  .results {
    width: 100%;
  }

  .reset-button {
    width: auto;
    margin: 1em;
  }
}
